<div
  class="header pb-5 pt-5 pt-lg-5 d-flex align-items-center"
  style="
    min-height: 300px;
    background-image: url(assets/img/theme/profile-cover.jpg);
    background-size: cover;
    background-position: center top;
  "
>
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Nombre del estudiante</h1>
        <p class="text-white mt-0 mb-5">Id</p>
        <a href="#!" class="btn btn-info">Edit profile</a>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="row" style="margin-bottom: 2rem">
    <div class="col">
      <ngb-accordion
        class="acordion"
        #acc="ngbAccordion"
        activeIds="ngb-panel-0"
        [collapsed]="false"
      >
        <ngb-panel title="Mostrar Filtro" class="bg-transparent">
          <ng-template ngbPanelContent class="acordion bg-transparent">
            <div class="mb-4 mb-xl-0 d-flex flex-row py-3 h-100">
              <div class="col-2 bg-transparent">
                <div ngbDropdown class="d-inline-block">
                  <button
                    class="btn btn-outline-primary"
                    id="dropdownBasic1"
                    ngbDropdownToggle
                  >
                    Etiqueta
                  </button>
                  <div
                    ngbDropdownMenu
                    aria-labelledby="dropdownBasic1"
                    class="col"
                  >
                    <button ngbDropdownItem (click)="labelFilter('Etiqueta1')">
                      Action - 1
                    </button>
                    <button ngbDropdownItem (click)="labelFilter('Etiqueta2')">
                      Action - 2
                    </button>
                    <button ngbDropdownItem (click)="labelFilter('Etiqueta2')">
                      Action - 3
                    </button>
                  </div>
                </div>
              </div>
              <div ngbDropdown class="col-2 d-inline-block">
                <button
                  class="btn btn-outline-primary"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                >
                  Etiqueta
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem (click)="labelFilter('Etiqueta1')">
                    Action - 1
                  </button>
                  <button ngbDropdownItem (click)="labelFilter('Etiqueta2')">
                    Action - 2
                  </button>
                  <button ngbDropdownItem (click)="labelFilter('Etiqueta2')">
                    Action - 3
                  </button>
                </div>
              </div>
              <div class="col-2 d-flex flex-column bg-transparent">
                <button
                  class="btn btn-icon btn-3 btn-primary mr-auto mb-2"
                  type="button"
                  (click)="updateLabel('etiquetado')"
                >
                  <span class="btn-inner--text">Filtrar</span>
                </button>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
  <div class="row" style="margin-top: 2rem">
    <div class="col-9 order-3" style="padding-right: 0  !important; right: -3rem; padding-left: 0 !important; width: 105%;  ">
      <div class="container-fluid mt-3" style="padding-left: 0  !important; width: 100%; ">
        <!-- Table -->
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Tabla de estudiantes
              
            </h3>
          </div>
        </div>
      
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th class="thead-light  th " mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let element"> 
              <div class="media-body">
                <input
                  style="margin-right: 1rem"
                  type="checkbox"
                  ng-model="checkboxModel.value2"
                  g-true-value="'YES'"
                  ng-false-value="'NO'"
                />
                <span class="mb-0 text-sm">{{element.id}}</span>
              </div>
          </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th  class="thead-light th " mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="grupo">
            <th  class="thead-light th  "  mat-header-cell *matHeaderCellDef mat-sort-header> Grupo </th>
            <td mat-cell *matCellDef="let element"> {{element.grupo}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="juez">
            <th  class="thead-light th  " mat-header-cell *matHeaderCellDef mat-sort-header> Juez </th>
            <td mat-cell *matCellDef="let element"> {{element.juez}} </td>
          </ng-container>
          <ng-container matColumnDef="fecha">
            <th  class="thead-light th  " mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
            <td mat-cell *matCellDef="let element"> 
              <div class="media-body">
              
              <span>{{element.fecha}} </span>
              <div ngbDropdown placement="bottom-right" class="editButton" >
                <a
                  class="btn btn-sm btn-icon-only text-light"
                  ngbDropdownToggle
                >
                  <i class="fas fa-ellipsis-v"></i>
                </a>
                <div
                  ngbDropdownMenu
                  class="dropdown-menu-right dropdown-menu-arrow"
                >
                  <a class="dropdown-item" href="javascript:void(0)"
                    >Editar</a
                  >
                </div>
              </div>
              </div>
            </td>
          </ng-container>
      
          <tr  class="thead-light " mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator hidePageSize="true"  MatFormFieldAppearance = "fill" [pageSize]="5" showFirstLastButtons></mat-paginator>
      </div>
    </div>
    <div class="col-xl-2 order-xl-2 mb-5 mb-xl-0" style="left: 1rem">
      <div class="card card-profile shadow">
        <h1 class="text-center">Usuarios</h1>
        <div class="card-body pt-0 pt-md-4">
          <div class="text-center">
            <div class="row">
              <div class="col-5">
                <p>Juez#1</p>
              </div>
              <div class="col-6 userName">
                <input
                  id="typeahead-basic"
                  type="text"
                  class="form-control"
                  [(ngModel)]="model"
                  [ngbTypeahead]="search"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-5">
                <p>Juez#2</p>
              </div>
              <div class="col-6 userName">
                <input
                  id="typeahead-basic"
                  type="text"
                  class="form-control"
                  [(ngModel)]="model"
                  [ngbTypeahead]="search"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-5">
                <p>Juez#3</p>
              </div>
              <div class="col-6 userName">
                <input
                  id="typeahead-basic"
                  type="text"
                  class="form-control"
                  [(ngModel)]="model"
                  [ngbTypeahead]="search"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 2rem; flex-direction: row-reverse; margin-right: 1rem; padding-right: 6rem;">
    <div class="saveButtons" style="left: 90%; ">
      <button type="button" class="btn btn-outline-default saveButtons">Cancelar</button>
      <button type="button" class="btn btn-outline-primary saveButtons">Guardar</button>
    </div>

  </div>
</div>
