
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="col-12">
        <div class="card mb-4 mb-xl-3 d-flex flex-row py-4">
          <div class="col-2">
            <div class="d-inline-block">
              <mat-form-field appearance="fill" class="tagDropdown">
                <mat-label>Etiquetas</mat-label>
                <mat-select [formControl]="tags" multiple class="tagDropdown">
                  <mat-select-trigger class="tagDropdown">
                    {{ tags.value ? tags.value[0] : "" }}
                    <span
                      *ngIf="tags.value?.length > 1"
                      class="example-additional-selection"
                    >
                      (+{{ tags.value.length - 1 }}
                      {{ tags.value?.length === 2 ? "other" : "others" }})
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let tag of tagsList" [value]="tag.name">{{
                    tag.name
                  }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-2 d-flex flex-column">
            <button
              class="btn btn-icon btn-2 btn-primary mr-auto mb-1"
              type="button"
              (click)="onClick('etiquetado')"
            >
              <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
              <span class="btn-inner--text">Etiquetar</span>
            </button>
            <button
              class="btn btn-icon btn-2 btn-primary mr-auto my-2"
              type="button"
              (click)="onClick('desetiquetado')"
            >
              <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
              <span class="btn-inner--text">Desetiquetar</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<!-- Page content -->
<div class="acordions card-remove">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="showPanel" hideToggle>
        <mat-panel-title>
          <button mat-stroked-button color="primary">
            Mostrar/Ocultar Filtros
          </button></mat-panel-title
        >
      </mat-expansion-panel-header>
            <div class="mb-4 mb-xl-0 d-flex flex-row py-3 h-100">
        <div class="col-2 bg-transparent">
          <mat-form-field class="tagDropdown" appearance="fill">
            <mat-label>Etiquetas</mat-label>
            <mat-select [formControl]="selectedTags" multiple>
              <mat-select-trigger class="tagDropdown">
                {{ selectedTags.value ? selectedTags.value[0] : "" }}
                <span
                  *ngIf="selectedTags.value?.length > 1"
                  class="example-additional-selection"
                >
                  (+{{ selectedTags.value.length - 1 }}
                  {{ selectedTags.value?.length === 2 ? "other" : "others" }})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let tags of selectedTagsList" [value]="tags.name">{{
                tags.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field appearance="fill">
            <mat-label>Jueces</mat-label>
            <mat-select [formControl]="judges" multiple>
              <mat-select-trigger>
                {{ judges.value ? judges.value[0] : "" }}
                <span
                  *ngIf="judges.value?.length > 1"
                  class="example-additional-selection"
                >
                  (+{{ judges.value.length - 1 }}
                  {{ judges.value?.length === 2 ? "other" : "others" }})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let judge of judgesList" [value]="judge.name">{{
                judge.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-2 d-flex flex-column bg-transparent">
          <button
            class="btn btn-icon btn-3 btn-primary mr-auto mb-2"
            type="button"
            (click)="filterProblems('filtrado')"
          >
            <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
            <span class="btn-inner--text">Filtrar</span>
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="container-fluid mt--7 table">
  <div class="card shadow">
    <div class="card-header border-0">
      <h3 class="mb-0">Tabla de problemas
      </h3>
    </div>
  </div>

<!--Tabla-->
  <table
    mat-table
    [dataSource]="dataSource"
    multiTemplateDataRows
    matSort
  >
    <ng-container matColumnDef="select">
      <th class="thead-light th " mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td class="td" mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      
        <a
        mat-mini-fab 
          (click)="toggleTableRows(row.UUID)"
          color="primary"
          class=" mx-4 expandButton rounded-circle align-middle"
          >
          <span class="font-weight-bold rounded-circle " >
            {{ row.isExpanded ? "&and;" : " &or;" }} 
           </span> 
          </a>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="problemid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td class="td" mat-cell *matCellDef="let element">
        <span> {{ element.problemid }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="tags">
      <th class= "thead-light th  " mat-header-cell *matHeaderCellDef mat-sort-header> Tags </th>
      <td class="td" mat-cell *matCellDef="let element">

          <span>{{element.tags}} </span>

      </td>
    </ng-container>

    <ng-container matColumnDef="judgeName">
      <th class= "thead-light th  " mat-header-cell *matHeaderCellDef mat-sort-header> Juez </th>
      <td class="td" mat-cell *matCellDef="let element">
      
          <span>{{element.judgeName}} </span>

      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th class= "thead-light th  " mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
      <td class="td" mat-cell *matCellDef="let element">
        <div class="media-body">
          <span>{{element.date}} </span>
        </div>
        <div ngbDropdown placement="bottom-right" class="editButton" >
          <a
            class="btn btn-sm btn-icon-only text-light"
            ngbDropdownToggle
          >
            <i class="fas fa-ellipsis-v"></i>
          </a>
          <div
            ngbDropdownMenu
            class="dropdown-menu-right dropdown-menu-arrow"
          >
            <a class="dropdown-item" (click)="openDialog('Editar', 'problem', element)" href="javascript:void(0)"
              >Editar</a
            >
          </div>
        </div>
      </td>
    </ng-container>

    <!-- Template for details row -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail" [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'" [style.display]="element.isExpanded ? 'block' : 'none'">
          <div class="example-element-descriptions">
            <div>
              <div class="example-element-description">
                <!-- Header -->
                <div class="example-element-description__header">
                  <div class="example-element-description__cell">
                    <div>Comentario</div>
                  </div>
                </div>
                <!-- Contents-->
                <div class="example-element-description__content" >
                  <div class="example-element-description__cell">
                    <div>{{element.comment}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true">
    </tr> 
    <tr
    mat-row
    *matRowDef="let element; columns: displayedColumns"
    class="student-element-row"
    [class.student-expanded-row]="element.isExpanded"
  ></tr>
      <!-- Extra row to show detail content column -->
      <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="student-detail-row"
    ></tr>
  </table>
<mat-paginator hidePageSize="true"  MatFormFieldAppearance = "fill" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
<div class="recargar" style="width: 100%">
  <div class="container">
    <div class="row" style="width: 100%">
      <div class="col-6 button">
        <button type="button"
        (click)="onSync()" 
        class="btn btn-secondary button">
          <i class="fas fa-redo-alt fa-4x"></i>
        </button>
      </div>
    </div>
  </div>
</div>










